.navbgcolor {
    background-color: #004274;
}

.navbutton {
    justify-content: space-around;
}

.imgooo {
    margin-top: 10px;
    height: 500px;
    background: url("https://www.shutterstock.com/image-illustration/modern-house-terrace-swimming-pool-600nw-1513007366.jpg");
    background-size: 99%;
    background-repeat: no-repeat;
    background-position: center;
}

.paddddd {
    padding-top: 130px;
    padding-left: 160px;
}

.sliderwork {
    padding-top: 20px;
    row-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
}

.cardwidth0 {
    width: 300px;
}

.cardbottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bgimg00 {
    background-image: url("https://t3.ftcdn.net/jpg/05/79/48/52/360_F_579485255_hzHox0stuQmBx5QViwnQqQjk7RD2AJza.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
}

.sectintwocard1 {
    border: none;
    width: 310px;
    height: 250px;
    text-align: center;
    background-color: #00A0EB;
}

.setbox {
    padding-top: 10px;
    align-items: center;
    row-gap: 20px;
}

.threewrap {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}

.fourlinks {
    text-decoration: none;
}

.fourmain {
    background-color: #F2F4F8;
    padding: 80px;
}

.fourdivtwo {
    border: none;
    height: 200px;
    background-color: white;
}

.fourcardwidth {
    width: 200px;
}

.bgcolorfive {
    background-color: #004274;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cardwidth11 {
    width: 250px;
}

.fiveinput {
    background-color: transparent;
    padding-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.fiveimg {
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-image: url("https://media.istockphoto.com/id/117596953/photo/mansion-house-with-circular-brick-driveway.jpg?s=612x612&w=0&k=20&c=lRGKt8G0k_XLRsonM_Zii6xdiJ84koYywsLpHw_HU0A=");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.footermain {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.footerdiv01 {
    color: #5E5E5E;
    text-decoration: none;
}

.footerdiv02 {
    color: #5E5E5E;
}

.footerdiv03 {
    font-weight: bold;
}

.foooterdiv2 {
    color: black;
    border: 2px solid #F2F6F9;
    background-color: #F2F6F9;
}