.main {
    border: 1px solid whitesmoke;
    background: whitesmoke;
    min-width: 280px;
    max-width: 1600px;
    min-height: 650px;
    max-height: 500px;
}

.main1 {
    column-count: 3;
    padding-left: 80px;
    padding-top: 50px;
}

#div1 {
    border: 1px solid black;
    background-color: white;
    border-color: whitesmoke;
    max-height: 700px;
    width: 305px;
}

.img1 {
    height: 170px;
    width: 305px;
}

.heading1 {
    font-size: larger;
    font-family: montserrat light;
    font-weight: bold;
    padding-left: 15px;
}

.explore1 {
    color: blue;
}

.starry {
    font-size: medium;
    font-family: montserrat light;
    font-weight: bold;
    padding-left: 15px;
}

.span1 {
    text-align: center;
}

.button1 {
    border: 1px solid skyblue;
    margin: 20px;
    width: 250px;
    height: 40px;
}

.span1 {
    text-align: center;
}


/* Second Image Start */

#div2 {
    border: 1px solid black;
    background-color: white;
    border-color: whitesmoke;
    max-height: 700px;
    width: 305px;
}

.img2 {
    height: 170px;
    width: 305px;
}

.heading2 {
    font-size: larger;
    font-family: montserrat light;
    font-weight: bold;
    padding-left: 15px;
}

.explore2 {
    color: blue;
}

.misty {
    font-size: medium;
    font-family: montserrat light;
    font-weight: bold;
    padding-left: 15px;
}

.span2 {
    text-align: center;
}

.button2 {
    border: 1px solid skyblue;
    margin: 20px;
    width: 250px;
    height: 40px;
}

.span2 {
    text-align: center;
}


/* Third Image Start */

#div3 {
    border: 1px solid black;
    border-color: whitesmoke;
    background-color: white;
    max-height: 700px;
    width: 305px;
}

.img3 {
    height: 170px;
    width: 305px;
}

.heading3 {
    font-size: larger;
    font-family: montserrat light;
    font-weight: bold;
    padding-left: 15px;
}

.explore3 {
    color: blue;
}

.utah {
    font-size: medium;
    font-family: montserrat light;
    font-weight: bold;
    padding-left: 15px;
}

.button3 {
    border: 1px solid skyblue;
    margin: 20px;
    width: 250px;
    height: 40px;
}

.span3 {
    text-align: center;
}

.last {
    padding: 40px;
}

.last1 {
    border: 1px solid black;
    background-color: white;
    border-color: whitesmoke;
    padding-left: 450px;
    padding-top: 15px;
    height: 30px;
}