table {
    border: 2px solid black;
    width: 700px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    background-color: lightblue;
    padding: 30px;
}

td {
    border: 2px solid black;
    border-radius: 30px;
    border-color: lightblue;
    text-align: center;
    font-size: 30px;
    padding: 15px;
}

.tr1 {
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
    text-align: center;
    font-size: 30px;
    padding: 30px;
}