* {
    margin: 0;
    padding: 0;
}

._body {
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
}

.nav-img {
    width: 180px;
    height: 80px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.main {
    border: 3px solid red;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
    width: 50%;
    height: 100vh;
    margin-top: 30px;
}

.div-img {
    border-radius: 30px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.second-div {
    padding-top: 20px;
}

.para {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

.para-0 {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.para-order{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.buttons {
    width: 20%;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    border: 2px solid red;
    border-radius: 15px;
    background-color: black;
    color: white;
}